<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>KitaPOS</title>
</head>
<body>
{% extends "base.html" %}

{% block page_content %}
<div class="page-header">
    Show products in database
</div>


<!-- one grid for each product -->
<div class="col-md-12">
    <div class="row">
        <form action="formbuy" method="post">
                {% for product in products %}
                <!-- credits http://shoelace.io/-->
                <div class="col-sm-4">product image</div>
                <div class="col-sm-offset-1 col-sm-3">{{ product.name  }}</div>
                <input type="hidden" name="projectFilepath" value="{{product.id}}" min="0" max="40">

                <div class="col-sm-2">{{ product.salesPrice  }} kr</div>
                <div class="col-sm-2">{{ product.amount  }}
                    <!-- http://bootsnipp.com/snippets/featured/bootstrap-number-spinner-on-click-hold -->

                        <div class="input-group number-spinner">
                            <div class="input-group number-spinner">
                                <span class="input-group-btn data-dwn">
                                    <button type="button" class="btn btn-default btn-info" data-dir="dwn"><span class="glyphicon glyphicon-minus"></span></button>
                                </span>
                                <input type="text" class="form-control text-center" value="1" min="0" max="40" >
                                <span class="input-group-btn data-up">
                                    <button type="button" class="btn btn-default btn-info" data-dir="up"><span class="glyphicon glyphicon-plus"></span></button>
                                </span>
                            </div>
                        </div>

                </div>

            {% endfor %}
            <button type="submit" class="btn btn-default col-sm-2 col-sm-offset-10 ">betalt</button>

        </form>
    </div>
</div>
{% endblock %}
</body>
</html>